* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: black;
    height: 10vh;
    text-align: center;
}

h1 {
    display: inline-block;
    color: aliceblue;
    font-size: 3em;
    opacity: 80%;
    text-shadow: 5px 5px 15px aliceblue;
}

main {
    background-color: #666666;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telaLogin {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: #222222;
    color: aliceblue;
    padding: 10px;
}

.telaLogin input {
    width: 280px;
    height: 30px;
    border-radius: 5px;
}